:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #49c5b6;
  background-color: #49c5b6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-item {
  padding: 0.5rem 1rem 1rem 0rem;
}

.log-item {
  text-align: right;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
}

.day-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(199, 199, 199, 0.219);
  margin: 0.2rem 0.25rem;
  max-width: calc(100%/7);
  min-width: 150px;
}

.event-card-align {
  margin: 0.2rem 0.25rem;
}

#title-text {
  text-align: left;
}

.event-card {
  background-color: rgba(199, 199, 199, 0.200);
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.event-card:hover {
  background: #345883;
  box-shadow: inset -28px -28px 56px #2d4d72,
              inset 28px 28px 56px #3b6394;
}

.event-card-reg {
  max-width: 200px;
}

.event-card-user {
  width: 200px;
}

.center {
  text-align: center;
}

.time-format { 
  font-size: 0.9rem;
  box-shadow: 0 2px 7px -2px black;
  padding: .1rem .75rem;
  margin-bottom: -0.1rem;
}

.sticky-header {
  background-color: rgba(111,133,159);
  box-shadow: 0 2px 4px -2px black;
  position: sticky;
  border-radius: 5px 5px 0px 0px;
  top: 0;
  padding-left: .55rem;
  padding-bottom: 0.25rem;
}

.loading-ball-style {
  width: 4rem;
  height: 4rem;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
}

.flex-header-items {
  display: flex;
  align-items: flex-end;
}

.header-ball-style {
  width: 2rem;
  height: 2rem;
  margin: 0px 0px 10px 10px;
}

.modal-center {
  display: flex;
  align-items: center;
}

.user-time {
  font-size: 12px;
}
.user-date {
  margin-top: -10px;
}

.booking {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  align-self: center;
}

.booking:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  z-index: -1;
}

.booking:hover, .booking:focus {
  color: white;
}

.booking:hover:before, .booking:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.booking:active {
  transform: scale(0.9);
}

.booking-confirm {
  color: rgba(111,133,159);
}

.booking-confirm:before {
  background-color: rgba(111,133,159);
}

.booking-cancel {
  color: rgb(167, 2, 2);
}

.booking-cancel:before {
  background-color: rgb(167, 2, 2);
}

.home {
  margin: auto;
}