:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #49c5b6;
  background-color: #49c5b6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color {
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-item {
  padding: 0.5rem 1rem 1rem 0rem;
}

.log-item {
  text-align: right;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
}

.day-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(199, 199, 199, 0.219);
  margin: 0.2rem 0.25rem;
  max-width: calc(100%/7);
  min-width: 150px;
}

.event-card-align {
  margin: 0.2rem 0.25rem;
}

#title-text {
  text-align: left;
}

.event-card {
  background-color: rgba(199, 199, 199, 0.400);
  padding: 1rem 1rem;
  cursor: pointer;
  max-width: 150px;
}

.center {
  text-align: center;
}

.time-format { 
  font-size: 0.9rem;
}

.sticky-header {
  background-color: rgba(199, 199, 199, 1.000);
  position: sticky;
  top: 0;
}

.loading-ball-style {
  width: 4rem;
  height: 4rem;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
}

.flex-header-items {
  display: flex;
  align-items: flex-end;
}

.header-ball-style {
  width: 2rem;
  height: 2rem;
  margin: 0px 0px 10px 10px;
}

.modal-center {
  display: flex;
  align-items: center;
}